{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static '/css/change_password.css' %}">
{% endblock %}

{% block content %}
    <h2 style="color: #ED1F24;; text-align: center;">Şifrənizi yeniləyin</h2>
    <div id="user-profile-main" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" id="user-profile-form">
            <form id="user-form"  method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {% for field in form %}
                    {{field}}
                {% endfor %}
                <div id="user-form-buttons">
                    <button class="col-12 right-button">Təsdiqlə</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}

    {% block js %}
    {% endblock %}
    