{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}
{% block content %}
    <h1 style="color: #C70E0E; text-align: center;">Hesabınıza daxil olun</h1>
    <div class="row login-main">
        <div class="col-12 col-md-6" id="so-login">
            <div id="login-social-part">
                <h3 style="font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 35px;
                
                color: #C70E0E;
                text-align: center;">Bizi İzləyin</h3>
                <div class="login-icons">
                    <div>
                        <a class="login-icon" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <div>
                        <a class="login-icon" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    </div>
                    <div>
                        <a class="login-icon" href="#"><i class="fab fa-google-plus fa-2x"></i></a>
                    </div>
                </div>
                <h4 style="font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                /* identical to box height */
                
                
                color: #C70E0E;
                text-align:center">Hesabınız yoxdur?</h4>
                <h4 style="font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                /* identical to box height */
                
                
                color: #C70E0E;
                text-align:center">Qeydiyyat</h4>
            </div>
        </div>
        <div class="col-12 col-md-6" id="login-form-main">
            <div class="login-part">
                <h3 style="font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
                
                color: #C70E0E;
                text-align: center;">CarDent</h3>
                <form action="" id="login-form">
                    <input class="login-input" type="text" placeholder="Email hesabınız">
                    <input class="login-input" type="password" placeholder="Şifrəniz">
                    <input type="checkbox" id="myCheck" onclick="" value="">
                    <button id="login-submit">Daxil ol</button>
                    <h6 style="font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    
                    color: #959292;
                    text-align:center;">Parolu unutmusuz?</h6>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block js %}
    {% endblock %}
    