{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/self-profile.css' %}">
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
 <section class="my_container">

        <div class="icons">
            <div class="icon mb-sm-5 mb-md-none">
                <div class="img">
                    <img src="{% static '/assets/images/resume 1.png'%}" alt="">
                </div>
                <div class="text">
                    <a href="" class="mr-5">Redakte et</a>
                </div>
            </div>
            <div class="icon mb-sm-5 mb-md-none">
                <div class="img">
                    <img src="{% static '/assets/images/open-box 1.png'%}" alt="">
                </div>
                <div class="text">
                    <a href="" class="mr-5">Hesabim</a>
                </div>
            </div>
            <div class="icon mb-sm-5 mb-md-none">
                <div class="img">
                    <img src="{% static '/assets/images/logout 1.png'%}" alt="">
                </div>
                <div class="text">
                    <a href="{% url 'account:logout' %}?next=/main/" class="mr-5">cixis</a>
                </div>
            </div>
        </div>

        <div class="for-form mb-5">
            <form action="" class="update-profile" method="POST">
            {% csrf_token %}
            
                <input placeholder="Ad Soyad" name='first_name' value='{{user.first_name}}' type="text">
                <input placeholder="e-mail" name='email'  value='{{user}}' type="email">
                <input placeholder="nomre" name='phone'  value='{{user.phone}}' type="number">
                {% comment %} <input class="mb-4" placeholder="passwrod" type="password"> {% endcomment %}

                <div class="buttons mt-5">
                    {% comment %} <button class="legv mb-3 mb-md-none">
                        <a href="">legv et</a>
                    </button> {% endcomment %}
                    <button class="yadda-saxla mb-3   mb-md-none" type="submit">
                        Yadda saxla
                    </button>
                </div>
            </form>
        </div>

    </section>
{% else %}
olmaz
{% endif %}


   


    {% endblock %}

    {% block js %}
    {% endblock %}
    