{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/self-profile.css' %}">
{% endblock %}
{% block content %}

    <section class="my_container">

        <div class="icons">
            <div class="icon mb-sm-5 mb-md-none">
                <div class="img">
                    <img src="{% static '/assets/images/resume 1.png'%}" alt="">
                </div>
                <div class="text">
                    <span class="mr-5">Redakte et</span>
                </div>
            </div>
            <div class="icon mb-sm-5 mb-md-none">
                <div class="img">
                    <img src="{% static '/assets/images/open-box 1.png'%}" alt="">
                </div>
                <div class="text">
                    <span class="mr-5">Hesabim</span>
                </div>
            </div>
            <div class="icon mb-sm-5 mb-md-none">
                <div class="img">
                    <img src="{% static '/assets/images/logout 1.png'%}" alt="">
                </div>
                <div class="text">
                    <span class="mr-5">cixis</span>
                </div>
            </div>
        </div>

        <div class="for-form">
            <form action="" class="update-profile">
                <input placeholder="Ad Soyad" type="text">
                <input placeholder="e-mail" type="email">
                <input placeholder="nomre" type="number">
                <input class="mb-4" placeholder="passwrod" type="password">

                <div class="buttons">
                    <button class="legv mb-3 mb-md-none">
                        <a href="">legv et</a>
                    </button>
                    <button class="yadda-saxla mb-3   mb-md-none" type="submit">
                        Yadda saxla
                    </button>
                </div>
            </form>
        </div>

    </section>


    {% endblock %}

    {% block js %}
    {% endblock %}
    