{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/user-profile2.css' %}">
{% endblock %}
{% block content %}




    <header class="head row m-0 container">
        <div class="col-6 p-0">
            <div class="row ">
                <div class="img col-6">
                    <img src="{% static '/assets/images/image 25.png' %}" alt="">
                </div>
                <div class="desc col-6">
                    <div class="d-flex flex-column">

                        <span class="brand-name">Lexus</span>
                        <div class="locate">
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span class="location">Nəriman Nərimanov T </span>
                        </div>
                        <div class="phone">
                            <span><i class="fas fa-phone"></i></span>
                            <span class="number">+994 55 206 29 19</span>
                        </div>
                        <div class="stars d-flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 p-0 left">
            <form class="left" action="rating">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <div class="button">
                    <button type="submit">
                        reyting ver
                    </button>
                </div>

            </form>
        </div>
    </header>

    {% endblock %}

    {% block js %}
    {% endblock %}
    