*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70% !important;
}

body{
    background-color: #E5E5E5 !important;
}
.ptag{
    font-family: Roboto Slab; font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    
    color: #000000;
}


a{
    color: #ED1F24;
    text-decoration: none;
}
a :hover{
    color: #FFC000;
}