body{
    background-color: #E5E5E5;
}


#detail-main-image{
    width: 70%;
    margin: 10% auto;    
}
.container{
    width: 70% !important;
}

#details-cards{
    width: 70%;
    margin: 0 auto;
}

.detail-card{
    padding: 1%;
    padding: 1%;
    display: flex;
    align-items: end;
}

.card{
    background-color: transparent;
    border: none;
    outline: none;
}

.card-text{
    color: #ED1F24;
    text-align: center;
}


a{
    color: #ED1F24;
    text-decoration: none;

}
a :hover{
    color: #FFC000;
}