body{
    background: #E5E5E5;
}
.container{
    width: 70% !important;
}

#subparts-main{
    width: 85%;
    margin: 0 auto;
}

.sub-parts-title{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    
}
.sub-parts-inner{
    margin: 5%;
}
.sub-parts-a{
    text-decoration: none;
    color: #ED1F24;
}

.sub-parts-a:hover{
    color: #ED1F24;
}
.sub-parts-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
}



a{
    color: #ED1F24;
    text-decoration: none;

}
a :hover{
    color: #FFC000;
}