{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/add-product.css' %}">
{% endblock %}
{% block content %}

    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-5" id="add-product-form">
        <h3 style="color: #C70E0E;; text-align: center;" class=" pt-5">Məhsulu Əlavə Etmək</h3>
        <form id="product-form" action="">
            <select class="product-form-input" name="cars" id="cars" form="carform">
                <option value="Məhsulun markası">Məhsulun markası</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <select class="product-form-input" name="cars" id="cars" form="carform">
                <option value="Məhsulun markası">Məhsulun modeli</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <select class="product-form-input" name="cars" id="cars" form="carform">
                <option value="Məhsulun markası">Məhsulun buraxilis ili</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <input class="product-form-input" type="text" placeholder="Məhsulun qiyməti">
            <input class="product-form-input" type="text" placeholder="Vin Code">
            <textarea class="product-form-textarea" placeholder="Describe yourself here..." type="text" id="w3review" name="w3review" rows="5" cols="50">
                </textarea>
            <div id="product-form-button">
                <button class="col-12  right-button"  onclick="document.getElementById('getFile').click()">Şəkil Əlavə et</button>
                <input type='file' id="getFile" style="display:none">
            </div>
            <div style="width: 50%; margin: 5% auto;text-align: center;" >
                <h6>Minumum 3 şəkil əlavə edilməlidir</h6>
                <h6>Şəkillər ön ,arxa,üst görünüşdən çəkilməlidir </h6>
            </div>
            <div id="product-form-buttons">
                <button class="col-5 left-button">Geriyə</button>
                <button class="col-5 right-button">Yadda Saxla</button>
            </div>
        </form>
    </div>

    {% endblock %}

    {% block js %}
    {% endblock %}
    