{% load static %}
<footer id="footer">
    <div id="footer-main">
        <div class="row footer-upper-row p-0">
            <div class="col-md-4 col-sm-4 p-0">
                <ul>
                    <li class="footer-li">Ana Səhifə</li>
                    <li class="footer-li">Məhsullar</li>
                    <li class="footer-li">Mağazalar</li>
                    <li class="footer-li">Haqqımızda</li>
                    <li class="footer-li">Bizimlə Əlaqə</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 p-0">
                <ul>
                    <li class="footer-li">Qeydiyyat formları</li>
                    <li class="footer-li">Mağaza yarat</li>
                    <li class="footer-li">Məhsul əlavə et</li>
                    <li class="footer-li">Maşınlar</li>
                    <li class="footer-li">Maşınlar</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 p-0">
                <ul>
                    <li class="footer-li">Qeydiyyat formları</li>
                    <li class="footer-li">Mağaza yarat</li>
                    <li class="footer-li">Məhsul əlavə et</li>
                    <li class="footer-li">Maşınlar</li>
                    <li class="footer-li">Maşınlar</li>
                </ul>
            </div>
            
        </div>
        <div class="row footer-down-row p-0">
            <div class="col-md-4 col-sm-4 p-0">
                <img style="width: 100%;height: 160px;" src="{% static '/assets/images/image-removebg-preview (26) 2.png' %}" alt="">
            </div>
            <div class="col-md-4 col-sm-4 p-0 d-flex justify-content-center pb-3">
                <h5 class="d-flex align-items-center" style="height: 100%;color: white; ">© Bütün hüquqlar qorunur</h5>
            </div>
            <div class="col-md-4 col-sm-4 p-0 d-flex justify-content-center align-items-center">
                <div>
                    <a class="wishlist-icon" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
                <div>
                    <a class="wishlist-icon" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
                <div>
                    <a class="wishlist-icon" href="#"><i class="fab fa-google-plus fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>