<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/all-brands.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <section class="header-body">
        <div id="header-main">
            <div class="header-info">
                <div><h2 class="header-title">Axtardığınız bütün maşın markaları bizdədir</h2></div>
                <div><img src="../assets/images/Line 7.png" alt=""></div>
                <div><p>Tezliklə bütün maşın hissələri bizim addressdə</p></div>
            </div>
            <div class="header-image">
                <img style="width: 100%;" src="../assets/images/Group 297.png" alt="">
            </div>
        </div>
    </section>

    <section class="container">
        <div class="all-cars-search-main">
            <h2 class="all-cars-title">Bütün maşınlar</h2>
            <div class="all-cars-search row">
                <div class="cars-search col-12 col-lg-9 col-md-9 col-sm-9">
                    <input class="cars-search-input" type="text" placeholder="  Axtardığınız maşının adını qeyd edin">
                </div>
                    <button class="cars-search-button col-12 col-lg-3 col-md-3 col-sm-3">Axtar</button>
            </div>
        </div>

        <div class="row all-cars">
            <div class="col-12 col-lg-3 col-md-4 col-sm-6 all-cars-cards">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6 all-cars-cards">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6 all-cars-cards">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6 all-cars-cards">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <img src="../assets/images/image 26.png" style="width:100%" alt="">
                    </div>
                    <h6 class="card-title">Toyota</h6>
                    <button class="card-button">Hissələri</button>
                </div>
            </div>
        </div>
        <nav style="margin-top: 5%;" aria-label="Page navigation example pagination">
            <ul class="pagination">
              <li class="page-item prev">
                <a class="page-link prev" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item nextt">
                <a class="page-link nextt" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>