<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Detal</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <section id="navbar-section" class="container">
        <nav style="background-color: #E5E5E5; padding: 0px;" class="navbar navbar-expand-lg navbar-light bg-light">
            <div style="background-color: #E5E5E5;" class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="../assets/images/image-removebg-preview (26) 2.png" alt=""></a>
              <a class="wishlist-icon responsive-wish" href="#"><i class="fas fa-heart-circle fa-2x"></i></a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="offset-md-1"></div>
                    <ul class="navbar-nav col-md-11">
                        <li class="nav-item">
                            <a class="navbar_item active" aria-current="page" href="#">Məhsullar</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar_item" href="#">Mağazalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar_item" href="#">Haqqımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar_item" href="#">Bizimlə Əlaqə</a>
                        </li>
                        <li class="nav-item" style="border: none;">
                            <button id="nav-button">Daxil Ol</button>
                        </li>
                        <li class="nav-item no-wish">
                            <a class="wishlist-icon" href="#"><i class="fas fa-heart-circle fa-2x"></i></a>
                        </li>
                        <li class="nav-item dropdown" style="border: none;">
                            <a class="navbar_item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/images/AZ.png" alt="">
                            </a>
                            <ul class="dropdown-menu" style="right: 0px; min-width:4rem;" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#"><img src="../assets/images/AZ.png" alt=""></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><img src="../assets/images/AZ.png" alt=""></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><img src="../assets/images/AZ.png" alt=""></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section>
        <div id="main-div-first-section">
            <div id="inner-div-first-section" class="container">
                <div class="row" id="first-section-first-row">
                    <div class="col-md-9 col-12">
                        <div class="row first-section-inner-row">
                            <div class="col-md-5 search-input-main">
                                <input class="search-input" placeholder="Axtardiginiz mehsulun adini qeyd edin" type="text">
                            </div>
                            <div class="col-md-5 search-input-main">
                                <input class="search-input" placeholder="Vin kod ile axtar" type="text">
                            </div>
                        </div>
                        <div class="row first-section-inner-row">
                            <div class="col-md-4 search-select">
                                <select name="Maşın markası" id="" class="search-part-select">
                                    <option value="0">Maşın markası</option>
                                    <option value="1">BMW</option>
                                    <option value="2">Mercedes</option>
                                    <option value="3">Porshce</option>
                                    <option value="4">Hyundai</option>
                                </select>
                            </div>
                            <div class="col-md-4 search-select">
                                <select name="Maşın modeli" id="" class="search-part-select">
                                    <option value="0">Maşın modeli</option>
                                    <option value="1">C-class</option>
                                    <option value="2">E-class</option>
                                    <option value="3">G-class</option>
                                    <option value="4">B-class</option>
                                </select>
                            </div>
                            <div class="col-md-4 search-select">
                                <select name="Buraxılış ili" id="" class="search-part-select">
                                    <option value="0">Buraxılış ili</option>
                                    <option value="1">2016</option>
                                    <option value="2">2017</option>
                                    <option value="3">2018</option>
                                    <option value="4">2019</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12" style="display: flex;align-items: flex-end;margin-bottom: 5%;">
                        <button class="search-button">Axtar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container" style="margin-top: 5%;">
        <div id="boxes">
                    <div id="first-box">
                        <div class="box-title" style="display: flex;
                        justify-content: center;
                        align-items: center;color: white;">Maşın yağları</div>
                        <div class="box_img d-flex align-items-center">
                            <img class="" src="../assets/images/image 17.png" style="width: 100%;"  alt="">
                        </div>
                    </div>
                    <div id="second-box">
                        <div class="box-title" style="display: flex;
                        justify-content: center;
                        align-items: center;color: white;">Maşın motorlari</div>
                        <div class="box_img d-flex align-items-center">
                            <img class="" src="../assets/images/image 20.png" style="width: 100%;"  alt="">
                        </div>
                    </div>
                <div id="third-box-main">
                        <div class="box_img">
                            <img class="" class="d-flex align-items-center" src="../assets/images/image 18.png " style="width: 100%;" alt=" ">
                        </div>
                        <div class="box-title" style="display: flex;
                        justify-content: center;
                        align-items: center;text-align: center;color: white; ">Maşın akkumlyatorları</div>
                </div>
                <div  id="fourth-box">
                    <div class="box-title" style="display: flex;
                    justify-content: center;
                    align-items: center;color: white;">Maşın akksesuarları</div>
                    <div class="box_img d-flex align-items-center">
                        <img class="" src="../assets/images/image 19.png" style="width: 100%;"  alt="">
                    </div>
                </div>
                <div  id="fifth-box">
                    <div class="box-title" style="display: flex;
                    justify-content: center;
                    align-items: center;color: white;">Maşın farları</div>
                    <div class="box_img d-flex align-items-center">
                        <img class="" src="../assets/images/image-removebg-preview (2) 1.png" style="width: 100%;" alt="">
                    </div>
                </div>
                <div id="sixth-box">
                    <div class="box-title" style="display: flex;
                    justify-content: center;
                    align-items: center;color: white;">Maşın təkərləri</div>
                    <div class="box_img d-flex align-items-center">
                        <img class="" src="../assets/images/image 22.png" style="width: 100%;" alt="">
                    </div>
                </div>
        </div>
    </section>

    <h1 id="markalar-title">Maşın markaları</h1>
    <section class="container" id="markalar-section">
        <div id="markalar-main-div">
            <div class="row" id="markalar-cards">
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/image 26.png" alt="">
                        </div>
                        <h6 class="card-title">Toyota</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/image 25.png" alt="">
                        </div>
                        <h6 class="card-title">Audi</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/image 27.png" alt="">
                        </div>
                        <h6 class="card-title">Mercedes</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/image 28.png" alt="">
                        </div>
                        <h6 class="card-title">Hyundai</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>

                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/PngItem_1627112 2.png" alt="">
                        </div>
                        <h6 class="card-title">Porshce</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/image 29.png" alt="">
                        </div>
                        <h6 class="card-title">Honda</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/PngItem_278804 2.png" alt="">
                        </div>
                        <h6 class="card-title">Chevrolet</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4  col-lg-3 col-sm-4 col-6 marka-card">
                    <div class="markalar-card">
                        <div class="markalar-img">
                            <img style="width:100%;" src="../assets/images/PngItem_716667 2.png" alt="">
                        </div>
                        <h6 class="card-title">Ford</h6>
                        <button class="card-button">Hissələri</button>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="image-section">
        <div>
            <div id="image-first">
                <img style="width: 70%;" src="../assets/images/Group 279.png" alt="">
            </div>
            <div id="image-second">
                <img style="width: 70%;" src="../assets/images/Group 280.png" alt="">
            </div>
        </div>
    </section>


    <h1 id="hisseler-title">Endirimdə olan məhsullar</h1>
    <section class="container" id="hisseler-section">
        <div id="hisseler-main-div">
            <div class="row" id="hisseler-cards">
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4 col-6 hisse-kart">
                    <div class="hisseler-card">
                        <div style="height: 100px;">
                            <img class="hisseler-img" src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                        </div>
                        <h6 class="hisseler-title">Toyota</h6>
                        <p class="hisseler-desc"> Mercedes Benz 2014 e220 engine</p>
                        <button class="hisseler-button">Hissələri</button>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center mt-5">
                    <button class="all-parts-button">
                        Bütün məhsullar
                    </button>
                </div>
            </div>
        </div>
    </section>


    <section id="long-cards-section" class="container">
        <div id="long-cards-main">
            <div id="long-cards" class="row">
                <div class="col-md-4 col-sm-4 col-4 col-lg-2 long-card">
                    <img class=long-img src="../assets/images/Rectangle 18.png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 col-4 col-lg-2 col-4 long-card">
                    <img class=long-img src="../assets/images/Rectangle 20 (1).png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 col-4 col-lg-2 col-4 long-card">
                    <img class=long-img src="../assets/images/Rectangle 21.png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 col-4 col-lg-2 col-4 long-card">
                    <img class=long-img src="../assets/images/Rectangle 33.png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 col-4 col-lg-2 col-4 long-card">
                    <img class=long-img src="../assets/images/Rectangle 18.png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 col-4 col-lg-2 col-4 long-card">
                    <img class=long-img src="../assets/images/Rectangle 20 (1).png" alt="">
                </div>
            </div>
        </div>
    </section>



    <section id="contact-section" class="container">
        <div id="contact-main">
            <div class="row row-div">
                <div class="col-md-12 col-sm-12 col-12 col-lg-4 mt-4 mt-lg-0">
                    <p class="contact-title">E-mail</p>
                    <p class="contact-desc">info@hisse.az</p>
                    <p class="contact-title">Telefon</p>
                    <p class="contact-desc">+994 (50) 220 -23 -34</p>
                    <p class="contact-title">Addres</p>
                    <p class="contact-desc">Nerimanov rayonu</p>
                </div>
                <div class="col-md-12 col-sm-12 col-12 col-lg-8 text-start text-sm-center" id="contact-form">
                    <img id="contact-img" src="../assets/images/image 12 (1).png" alt="">
                    <form id="contact-form-text" action="">
                        <h3 style="color: white;">Sualınız qalıbsa?</h3>
                        <h5 style="color: white;">o zaman biz cavablayaq</h5>
                        <p style="color: white;">Adınız</p>
                        <input class="contact-input" type="" name="" id="">
                        <p style="color: white;">Nömrəniz</p>
                        <input class="contact-input" type="text">
                        <button id="contact-button">Bizimlə əlaqə saxlayın</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <footer id="footer">
        <div id="footer-main">
            <div class="row footer-upper-row p-0">
                <div class="col-md-4 col-sm-4 p-0">
                    <ul>
                        <li class="footer-li">Ana Səhifə</li>
                        <li class="footer-li">Məhsullar</li>
                        <li class="footer-li">Mağazalar</li>
                        <li class="footer-li">Haqqımızda</li>
                        <li class="footer-li">Bizimlə Əlaqə</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 p-0">
                    <ul>
                        <li class="footer-li">Qeydiyyat formları</li>
                        <li class="footer-li">Mağaza yarat</li>
                        <li class="footer-li">Məhsul əlavə et</li>
                        <li class="footer-li">Maşınlar</li>
                        <li class="footer-li">Maşınlar</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 p-0">
                    <ul>
                        <li class="footer-li">Qeydiyyat formları</li>
                        <li class="footer-li">Mağaza yarat</li>
                        <li class="footer-li">Məhsul əlavə et</li>
                        <li class="footer-li">Maşınlar</li>
                        <li class="footer-li">Maşınlar</li>
                    </ul>
                </div>
                
            </div>
            <div class="row footer-down-row p-0">
                <div class="col-md-4 col-sm-4 p-0">
                    <img style="width: 100%;height: 160px;" src="../assets/images/image-removebg-preview (26) 2.png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 p-0 d-flex justify-content-center pb-3">
                    <h5 class="d-flex align-items-center" style="height: 100%;color: white; ">© Bütün hüquqlar qorunur</h5>
                </div>
                <div class="col-md-4 col-sm-4 p-0 d-flex justify-content-center align-items-center">
                    <div>
                        <a class="wishlist-icon" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <div>
                        <a class="wishlist-icon" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    </div>
                    <div>
                        <a class="wishlist-icon" href="#"><i class="fab fa-google-plus fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

</html>