<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/products.css">
    <title>Document</title>
</head>

<body>
    <section id="navbar-section" class="container">
        <nav style="background-color: #E5E5E5; padding: 0px;" class="navbar navbar-expand-lg navbar-light bg-light">
            <div style="background-color: #E5E5E5;" class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../assets/images/image-removebg-preview (26) 2.png"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="offset-1"></div>
                    <ul class="navbar-nav col-11">
                        <li class="nav-item">
                            <a class="navbar_item active" aria-current="page" href="#">Məhsullar</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar_item" href="#">Mağazalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar_item" href="#">Haqqımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar_item" href="#">Bizimlə Əlaqə</a>
                        </li>
                        <li class="nav-item">
                            <button id="nav-button">Daxil Ol</button>
                        </li>
                        <li class="nav-item">
                            <a class="wishlist-icon" href="#"><i class="fas fa-heart-circle fa-2x"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="navbar_item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/images/AZ.png" alt="">
                            </a>
                            <ul class="dropdown-menu" style="right: 0px; min-width:4rem;"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#"><img src="../assets/images/AZ.png" alt=""></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><img src="../assets/images/AZ.png" alt=""></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><img src="../assets/images/AZ.png" alt=""></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section>
        <div id="main-div-first-section">
            <div id="inner-div-first-section" class="container">
                <div class="row" id="first-section-first-row">
                    <div class="col-9">
                        <div class="row first-section-inner-row">
                            <div class="col-5 search-input-main">
                                <input class="search-input" placeholder="Axtardiginiz mehsulun adini qeyd edin"
                                    type="text">
                            </div>
                            <div class="col-5 search-input-main">
                                <input class="search-input" placeholder="Vin kod ile axtar" type="text">
                            </div>
                        </div>
                        <div class="row first-section-inner-row">
                            <div class="col-4">
                                <select name="Maşın markası" id="" class="search-part-select">
                                    <option value="0">Maşın markası</option>
                                    <option value="1">BMW</option>
                                    <option value="2">Mercedes</option>
                                    <option value="3">Porshce</option>
                                    <option value="4">Hyundai</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select name="Maşın modeli" id="" class="search-part-select">
                                    <option value="0">Maşın modeli</option>
                                    <option value="1">C-class</option>
                                    <option value="2">E-class</option>
                                    <option value="3">G-class</option>
                                    <option value="4">B-class</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select name="Buraxılış ili" id="" class="search-part-select">
                                    <option value="0">Buraxılış ili</option>
                                    <option value="1">2016</option>
                                    <option value="2">2017</option>
                                    <option value="3">2018</option>
                                    <option value="4">2019</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <button class="search-button">Axtar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="cardent container row m-auto mt-5">
        <div class="col-12 col-md-5 ml-5">
            <div style="margin-left: 60px;" class="inner-cardent">
                <p class="w-100 mb-md-3 mb-sm-5">Orginal hissələr yalnız bu addresdə </p>
                <div class="d-flex mb-md-3 mb-sm-5 mt-5">
                    <h1 style="width: 100px;" class="mb-2">Car</h1>
                    <h1 style="color: white;" class="">dent</h1>
                </div>

                <h3 class="w-100 mb-md-3 mb-4">Axtardığınızı bizim addressdə tapın</h3>
                <button class="sm-mt-3 mt-2">Indi Al</button>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <img style="margin-left:70px;width:70%;height:80%" src="../assets/images/Group 342.png" alt="">
        </div>
    </div>

    <div class="products-header mt-5 mb-5">
        <div style="width: 50%; margin:auto;"><h1 class="text-center mb-4 hisseler">Hissələr</h1></div>
        
        <h1 class="text-center">Ən son məhsullar</h1>
    </div>
    <section class="products container mb-5">
        <div class="row mb-5">
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
            <div class="card-item col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                <div class="incard">
                    <i class="fas fa-heart"></i>
                    <img src="../assets/images/image-removebg-preview (13) 2.png" alt="">
                    <div class="d-flex">
                        <span>satici:</span>
                        <span>amil</span>
                    </div>
                    <p>Mercedes Benz 2014 e220 engine</p>
                    <button>23</button>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example pagination">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link prev" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link nextt" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </section>

    <div class="products-header-2 mt-5 mb-5 d-none d-xl-block">
        <div style="width: 30%; margin:auto;"><h1 class="text-center mb-4 hisseler">Feedbacklər</h1></div>
        
        <h1 style="white-space: nowrap;" class="text-center">Müştərilərimiz hər zaman bizdən razı qalırlar </h1>
    </div>

    <div class="row container m-auto mb-5">
        <div class="col-6 customer  d-none d-xl-block">
            <p class="customer-text">Mağazalar hər zaman orginal məhsullar satır</p>
            <img src="../assets/images/Group 345.png" alt="">
            <img class="customer-photo" src="../assets/images/image 35.png" alt="">
        </div>
        <div class="col-6 customer  d-none d-xl-block">
            <p class="customer-text">Mağazalar hər zaman orginal məhsullar satır</p>
            <img class="ml-5" src="../assets/images/Group 344.png" alt="">
            <img class="customer-photo" src="../assets/images/image 35.png" alt="">
        </div>
    </div>
<footer id="footer">
        <div id="footer-main">
            <div class="row footer-upper-row">
                <div class="col-3">
                    <ul>
                        <li class="footer-li">Ana Səhifə</li>
                        <li class="footer-li">Məhsullar</li>
                        <li class="footer-li">Mağazalar</li>
                        <li class="footer-li">Haqqımızda</li>
                        <li class="footer-li">Bizimlə Əlaqə</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li class="footer-li">Qeydiyyat formları</li>
                        <li class="footer-li">Mağaza yarat</li>
                        <li class="footer-li">Məhsul əlavə et</li>
                        <li class="footer-li">Maşınlar</li>
                        <li class="footer-li">Maşınlar</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li class="footer-li">Qeydiyyat formları</li>
                        <li class="footer-li">Mağaza yarat</li>
                        <li class="footer-li">Məhsul əlavə et</li>
                        <li class="footer-li">Maşınlar</li>
                        <li class="footer-li">Maşınlar</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li class="footer-li">Qeydiyyat formları</li>
                        <li class="footer-li">Mağaza yarat</li>
                        <li class="footer-li">Məhsul əlavə et</li>
                        <li class="footer-li">Maşınlar</li>
                        <li class="footer-li">Maşınlar</li>
                    </ul>
                </div>
            </div>
            <div class="row footer-down-row">
                <div class="col-4">
                    <img style="width: 200px;" src="../assets/images/image-removebg-preview (26) 2.png" alt="">
                </div>
                <div class="col-4">
                    <h5 class="d-flex align-items-center" style="height: 100%;color: white; ">© Bütün hüquqlar qorunur</h5>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <div>
                        <a class="wishlist-icon" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <div>
                        <a class="wishlist-icon" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    </div>
                    <div>
                        <a class="wishlist-icon" href="#"><i class="fab fa-google-plus fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
</body>

</html>