{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
{% endblock %}
{% block content %}

    <section class="container">
        <div class="row mt-5">
            <div class="col-12 col-sm-7 text-sm-start text-center">
                <h1 class="mt-5">Cadent</h1>
                <p class="ptag">layihesi olaraq Azerbaycanda ve dunya bazarinda avtomobiil hisselerinin satışını təmin etməkdir.Hal
                    hazırda 200den çox mağazaya ev sahipliyi edirik</p>
            </div>
            <div class="col-12 col-sm-5">
                <img class="w-100" src="../assets/images/Group 349.png" alt="">
            </div>
        </div>
    </section>



    {% endblock %}

    {% block js %}
    {% endblock %}