{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/all-brands.css' %}">
{% endblock %}
{% block content %}

    <section class="header-body">
        <div id="header-main">
            <div class="header-info">
                <div><h2 class="header-title">Axtardığınız bütün maşın markaları bizdədir</h2></div>
                <div><img src="{% static '/assets/images/Line 7.png' %}" alt=""></div>
                <div><p>Tezliklə bütün maşın hissələri bizim addressdə</p></div>
            </div>
            <div class="header-image">
                <img style="width: 100%;" src="{% static '/assets/images/Group 297.png' %}" alt="">
            </div>
        </div>
    </section>

    <section class="container">
        <div class="all-cars-search-main">
            <h2 class="all-cars-title">Bütün maşınlar</h2>
            <div class="all-cars-search row">
                <div class="cars-search col-12 col-lg-9 col-md-9 col-sm-9">
                    <input class="cars-search-input" type="text" placeholder="  Axtardığınız maşının adını qeyd edin">
                </div>
                    <button class="cars-search-button col-12 col-lg-3 col-md-3 col-sm-3">Axtar</button>
            </div>
        </div>

        <div class="row all-cars">
            {% for marka in markalar%}
            <div class="col-12 col-lg-3 col-md-4 col-sm-6 all-cars-cards">
                <div class="all-cars-card">
                    <div class="all-cars-card-img" style="height: 100px;">
                        <a href="{% url 'main:brands' marka.id %}"> <img src="{{marka.image.url}}" style="width:100%" alt=""></a>
                    </div>
                    <h6 class="card-title">{{marka.title}}</h6>
                    <a class="card-url" href="{% url 'main:brands' marka.id %}"><button class="card-button">Hissələri</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav style="margin-top: 5%;" aria-label="Page navigation example pagination">
            <ul class="pagination">
              <li class="page-item prev">
                <a class="page-link prev" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item nextt">
                <a class="page-link nextt" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </section>

    {% endblock %}

    {% block js %}
    {% endblock %}