<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %} Home {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'includes/navbar.html' %}

    {% if messages %}
    
    {% endif %}

    {% block content %}

    {% endblock %}


    {% include 'includes/subscribers.html' %}

    {% include 'includes/footer.html' %}

 
   

    

    
    {% block js %}
    {% endblock %}

</body>

</html>