{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/brands.css' %}">
{% endblock %}
{% block content %}

    <div class="brand-title">
        <h1>Mercedes</h1>
    </div>


    <div class="car-brands">
        <div>
            <h3>A-class</h3>
            <p>A-140</p>
            <p>A-150</p>
            <p>A-180</p>
            <p>A-200</p>
        </div>
        <div>
            <h3>B-class</h3>
            <p>B-170</p>
            <p>B-180</p>
            <p>B-180</p>
            <p>B-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>A-class</h3>
            <p>A-140</p>
            <p>A-150</p>
            <p>A-180</p>
            <p>A-200</p>
        </div>
        <div>
            <h3>B-class</h3>
            <p>B-170</p>
            <p>B-180</p>
            <p>B-180</p>
            <p>B-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>A-class</h3>
            <p>A-140</p>
            <p>A-150</p>
            <p>A-180</p>
            <p>A-200</p>
        </div>
        <div>
            <h3>B-class</h3>
            <p>B-170</p>
            <p>B-180</p>
            <p>B-180</p>
            <p>B-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>A-class</h3>
            <p>A-140</p>
            <p>A-150</p>
            <p>A-180</p>
            <p>A-200</p>
        </div>
        <div>
            <h3>B-class</h3>
            <p>B-170</p>
            <p>B-180</p>
            <p>B-180</p>
            <p>B-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
        <div>
            <h3>C-class</h3>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
            <p>C-200</p>
        </div>
    </div>

    {% endblock %}

    {% block js %}
    {% endblock %}