{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/brands.css' %}">
{% endblock %}
{% block content %}

    <div class="brand-title">
        <h1>{{marka.title}}</h1>
    </div>


    <div class="car-brands">
        {% for model in modeller %}
        {% if not model.parent_modell %}
        <div>
            <h3>{{model.title}}</h3>
            {% for submodel in model.sub_models.all %}
            <p>{{submodel.title}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% endblock %}

    {% block js %}
    {% endblock %}