{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/car-filter.css' %}">
{% endblock %}
{% block content %}

    <div class="arrows-div row m-auto container">
        <div class="col-md-4 m-auto">
            <div class="btnn-div">
                <button class="buttons">on hisse</button>
            </div>
            <div class="img-arr1 d-none d-md-block">
                <img src="{% static '/assets/images/Arrow 1.png'%}" alt="">
            </div>
        </div>
        <div class="col-md-4 m-auto">
            <div class="btnn-div">
                <button class="buttons">on hisse</button>
            </div>
            <div class="img-arr2 d-none d-md-block">
                <img src="{% static '/assets/images/Arrow 2.png'%}" alt="">
            </div>
        </div>
        <div class="col-md-4 m-auto">
            <div class="btnn-div">

                <button class="buttons">on hisse</button>
            </div>
            <div class="img-arr3 d-none d-md-block">
                <img src="{% static '/assets/images/Arrow 3.png'%}" alt="">
            </div>
        </div>
    </div>

    <div class="car-img w-100">
        <img class="w-100" src="{% static '/assets/images/image-removebg-preview (3) 10.png'%}" alt="">
    </div>


    <div class="arrows-div row m-auto container">
        <div class="col-md-4 m-auto">

        </div>
        <div class="col-4 m-auto">
            <div class="img-arr2 d-none d-md-block">
                <img class="" src="{% static '/assets/images/Arrow 4.png'%}" alt="">
            </div>
            <div class="btnn-div">
                <button class="buttons">on hisse</button>
            </div>
        </div>
        <div class="col-4 m-auto">

        </div>
    </div>

    {% endblock %}

    {% block js %}
    {% endblock %}