<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <section id="contact-section" class="container">
        <div id="contact-main">
            <div class="row row-div">
                <div class="col-md-12 col-sm-12 col-12 col-lg-4 mt-4 mt-lg-0">
                    <p class="contact-title">E-mail</p>
                    <p class="contact-desc">info@hisse.az</p>
                    <p class="contact-title">Telefon</p>
                    <p class="contact-desc">+994 (50) 220 -23 -34</p>
                    <p class="contact-title">Addres</p>
                    <p class="contact-desc">Nerimanov rayonu</p>
                </div>
                <div class="col-md-12 col-sm-12 col-12 col-lg-8 text-start text-sm-center" id="contact-form">
                    <img id="contact-img" src="../assets/images/image 12 (1).png" alt="">
                    <form id="contact-form-text" action="">
                        <h3 style="color: white;">Sualınız qalıbsa?</h3>
                        <h5 style="color: white;">o zaman biz cavablayaq</h5>
                        <p style="color: white;">Adınız</p>
                        <input class="contact-input" type="" name="" id="">
                        <p style="color: white;">Nömrəniz</p>
                        <input class="contact-input" type="text">
                        <button id="contact-button">Bizimlə əlaqə saxlayın</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>