{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/inner-detail.css' %}">
{% endblock %}
{% block content %}

    <div id="detail-main-image">
        <img style="width: 100%;" src="../assets/images/image 59.png" alt="">       
    </div>
    <div id="details-cards" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 detail-card">
            <div class="card" style="">
            <img src="../assets/images/Rectangle 204.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Motor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 detail-card">
            <div class="card" style="">
            <img src="../assets/images/Rectangle 205.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Razval</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 detail-card">
            <div class="card" style="">
            <img src="../assets/images/Rectangle 206.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Motor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 detail-card">
            <div class="card" style="">
            <img src="../assets/images/Rectangle 207.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Motor</p>
            </div>
          </div>
        </div>
    </div>


    {% endblock %}

    {% block js %}
    {% endblock %}