{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/shops.css' %}">
{% endblock %}
{% block content %}



    
    <section class="under-header container m-auto row mt-5">
        <div class="col-12 col-md-5 col-sm-12">
            <p class="header-text mt-5">Bütün maşın hissələrinə aid mağazalar bizim ünvanda</p>
        </div>
        <div class="col-12 col-md-7 col-sm-12 mt-sm-5  mt-5 mt-sm-5">
            <div class="d-flex justify-content-center align-items-center">
                <img class="header-img" src="{% static '/assets/images/Group 225 (1).png' %}" alt="">
            </div>

        </div>
    </section>
    <section class="shops row mt-5 m-auto container">
    {% for shop in shops %}
    
        <div class="shop-card col-3 mt-5 col-md-4 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div class="cart-img-div">
                <img class="cart-img" src="{% static '/assets/images/Rectangle 188.png' %}" alt="">
            </div>

            <div class="cart-title d-flex justify-content-center align-items-center">
                <h3 class="text-center">{{shop}}</h3>
            </div>
        </div>
    {% endfor %}
        

        <nav class="mt-4" aria-label="Page navigation example pagination">
            <ul class="pagination">
              <li class="page-item prev">
                <a class="page-link prev" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item nextt">
                <a class="page-link nextt" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

    </section>
    

    {% endblock %}

    {% block js %}
    {% endblock %}