<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../slick-1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick-1.8.1/slick/slick-theme.css"/>

    <title>Document</title>
</head>
<body>
    
    <div class="your-class">
        <div >your content1</div>
        <div>your content2</div>
        <div>your content3</div>
    </div>

    <script src="../js/singlepage.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="../slick-1.8.1/slick/slick.min.js"></script>




</body>
</html>