{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static '/css/wishlist.css' %}">
{% endblock %}
{% block content %}



    <section class="wishes container">
        <div class="row m-auto pl-2 pr-2 mt-5">

        {% for item in wishes %}
        {% csrf_token %}
            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="{{item.product.main_image.url}}" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">{{item.product.title}}</h2>
                        <span class="price">{{item.product.price}}</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                    <span class='d-none'>{{item.product.id}}</span>
                </div>
            </div>
        {% endfor %}

            

        </div>
    </section>


    {% endblock %}

    {% block js %}
    <script src="{% static '/js/unwish.js' %}"></script>
    {% endblock %}