{% extends 'base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/wishlist.css' %}">
{% endblock %}
{% block content %}



    <section class="wishes container">
        <div class="row m-auto pl-2 pr-2 mt-5">
            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="../assets/images/image 20.png" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">Engine</h2>
                        <span class="price">100</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="../assets/images/image 20.png" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">Engine</h2>
                        <span class="price">100</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                </div>
            </div>
            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="../assets/images/image 20.png" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">Engine</h2>
                        <span class="price">100</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="../assets/images/image 20.png" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">Engine</h2>
                        <span class="price">100</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                </div>
            </div>
            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="../assets/images/image 20.png" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">Engine</h2>
                        <span class="price">100</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 cart mb-4">
                <div class="incart">
                    <div class="img-div">
                        <img src="../assets/images/image 20.png" alt="">
                    </div>
                    <div class="cart-text">
                        <h2 class="title">Engine</h2>
                        <span class="price">100</span><span class="valyuta ml-3">azn</span>
                        <span class="sale-price"></span>
                    </div>
                    <i class="far fa-times x-button"></i>
                </div>
            </div>

        </div>
    </section>


    {% endblock %}

    {% block js %}
    {% endblock %}